<form method = "POST" action = "/landmarks">
  <p>Enter Name:</p>
  <input type = "text" name = "landmark[name]" id = "landmark_name" >
  <p>Enter Year Completed</p>
  <input type = "text" name = "landmark[year_completed]" id = "landmark_year_completed">
  <input type ="submit" id = "Create New Landmark">
</form>
